version: '3.4'

services:
  dockerdiscordbot:
    image: dockerdiscordbot
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      DISCORDTOKEN: YOUR_DISCORD_TOKEN_HERE
    command: bash -c "alembic upgrade head && python app/main.py"
